* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  line-height: 1.7;
}

.container {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #888;
  margin-bottom: 20px;
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
}

video {
  width: 60%;
  max-width: 500px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.links a:hover {
  color: white;
}

h2 {
  margin: 50px 0 20px;
  font-size: 1.4rem;
  border-left: 4px solid #444;
  padding-left: 10px;
}

.skills {
  list-style: none;
}

.skills li {
  margin-bottom: 10px;
}

.project {
  background: #151515;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.project h3 {
  margin-bottom: 10px;
}

.project a {
  text-decoration: none;
  color: #999;
}

.project a:hover {
  color: white;
}

footer {
  margin-top: 80px;
  text-align: center;
  color: #666;
}
